<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <!-- TODO: add anchor tag / link -->

    <main>
      <div class="index-plants">
        <% for (plant of seedData) { %>
        <br />
        <figure class="image is-128x128">
          <img src="<%= plant.url %>" />
          <p class="has-text-centered"><%= plant.name %></p></a>
          <% } %>
        </figure>
        <br /><br /><br /><br />
      </div>
    </main>
    <!-- THE FOOTER TAG PARTIAL -->
    <!-- <%- include("partials/footer") %> -->
  </body>
</html>
