<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <!-- TODO: add anchor tag / link -->

    <section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">Add A New Plant To Your Collection </p>
      </div>
    </section>


<hr>
    <main>
      <div class="index-plants">
        <% for (plant of seedData) { %>

        <figure class="image is-128x128">
          <img src="<%= plant.url %>" />
          <p class="has-text-centered"><%= plant.name %></p></a>
        </figure>
         <figure class="image is-128x128">
          <img src="<%= plant.url %>" />
          <p class="has-text-centered"><%= plant.name %></p></a>
        </figure>
         <figure class="image is-128x128">
          <img src="<%= plant.url %>" />
          <p class="has-text-centered"><%= plant.name %></p></a>
        </figure>
         <figure class="image is-128x128">
          <img src="<%= plant.url %>" />
          <p class="has-text-centered"><%= plant.name %></p></a>
        </figure>
          <% } %>

      </div>
      <p>a little bit of text</p>
    </main>
    <!-- THE FOOTER TAG PARTIAL -->
    <!-- <%- include("partials/footer") %> -->
  </body>
</html>
