<!DOCTYPE html>
<html>
<!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
<body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

       <section class="hero is-primary is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large">Edit Plant Entry:</p>
        <p class="subtitle">"<%= plant.name %>"</p>
      </div>
    </section><br>


<!---------- NAME ------------>
<div class="box" id="edit-form">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" value="<%=plant.name%>" placeholder="<%=plant.name%>"><br/>
  </div>
</div>



<!---------- SUBMIT ------------>
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
</div>
</body>
</html>
