<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <!-- DISPLAY OUR PLANTS -->

    <section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">Your Personal Plant Collection </p>
        <p class="subtitle">
          <!-- Add new plant button -->
          <a class="button new-plant-button" href="/user/new">Add A New Plant</a>
        </p>
      </div>
    </section>

    <main class="profile-container">
      <div class="container is-fluid">
    <% for(let i = 0; i < plants.length; i++) { %>
      <br>
      <figure class="image is-128x128">
        <!-- SHOW PAGE -->
        <a href="/user/profile/<%=plants[i]._id;%>">
          <img src="<%= plants[i].url %>" />
          <p class="has-text-centered"><%= plants[i].name %></p>
      </a>
       <!-- DELETE FORM -->

              <form action="/user/profile/<%=plants[i]._id; %>?_method=DELETE" method="POST" class="delete-button">
                <input type="submit" value="Delete Plant" class="button is-danger is-outlined is-fullwidth"/>
              </form>
    <% } %>
      </figure>
      <br><br><br><br>
    </div>


    <!-- Log out button -->
    <!-- <a class="button logout-button" href="/user/logout">Log Out</a> -->

    </main>

    <!-- THE FOOTER PARTIAL -->
    <%- include("../partials/footer") %>


  </body>
</html>
