<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

  <section class="hero is-header is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large"><%= plant.name %></p>
      </div>
    </section>
        <br>

<main>
        <div class="plants-show">
            <div class="box">
            <strong>Name: </strong>
            <%= plant.name %> <br><br>
            <figure class="image is-128x128">
              <img src="<%= plant.url %>" alt="plant_image">
            </figure> <br><br>
            <strong>Safe for pets and children?: </strong>
            <%= plant.petsafe %> <br><br>
            <strong>Plant Origin: </strong>
            <%= plant.origin %> <br><br>
            <strong>Description: </strong>
            <%= plant.description %> <br><br>
            </div>
            </div>
            <br>

            <!-- <div class="field is-grouped" id="index-buttons"> -->

              <!-- BACK TO PROFILE LINK -->
              <a href="/user/profile"><button class="button is-normal is-fullwidth is-outlined" id="create-button">Back to Profile</button></a><br>


      </body>
    </html>
</form>


              <!-- DELETE FORM -->

              <form action="/user/profile/<%=plant._id; %>?_method=DELETE" method="POST" class="delete-button">
                <input type="submit" value="Delete Plant" class="button is-danger is-outlined is-fullwidth"/>
              </form>
            </div>

            <div class="box" id="logger-box">
              <ul>
                <li> Entry created at <%= plant.createdAt %> </li>
                <li> Entry updated at <%= plant.updatedAt %> </li>
              </ul>
            </div>
          </main>
          <br>


        </body>
        </html>
