<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

  <section class="hero is-primary is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large"><%= plant.name %></p>
      </div>
    </section>
        <br>

<main>
        <div class="plants-show">
            <div class="box">
            <strong>Name: </strong>
            <%= plant.name %> <br><br>
            <strong>Description </strong>
            <%= plant.description %> <br><br>
            </div>
            </div>
            <br>
            <!-- BACK TO PROFILE LINK -->
            <a href="/user/profile"><button class="button is-normal is-fullwidth is-outlined" id="create-button">Back to Profile</button></a><br>

             <div class="field is-grouped" id="index-buttons">


              <!-- EDIT FORM -->

            <!-- <a class="button is-medium is-outlined" href="/user/profile/<%=plant._id %>/edit" id="edit-button">Edit Plant</a> -->

            <form action="/user/profile/<%= plant._id %>?_method=PUT" method = "POST">
              <input
                class="input"
                type="text"
                name="name"
                placeholder="<%=plant.name%>"
                value="<%=plant.name%>"
                />
                <input type="submit" class="button" value="edit plant" />
            </form>


      <!-- DELETE FORM -->

      <form action="/user/profile/<%=plant._id; %>?_method=DELETE" method="POST" class="delete-button">
            <input type="submit" value="Delete Plant" class="button is-danger is-outlined is-small"/>
      </form>
        </div>

                <div class="box" id="logger-box">
                <ul>
               <li> Entry created at <%= plant.createdAt %> </li>
               <li> Entry updated at <%= plant.updatedAt %> </li>
        </ul>
        </div>
</main>
<br>


</body>
</html>
