<!DOCTYPE html>
<html lang="en">

    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>

 <section class="hero is-header is-small has-text-centered">
      <div class="hero-body">
        <p class="title">Plants Index via <a href="https://trefle.io" target="_blank">TREFLE</a></p>
      </div>
    </section>


<main>
    <div class="container trefle-plants" id="plants-index" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
      <% for (plant of plantsBySchema) { %>
        <div class="card" style="margin: 30px; max-width: 200px;">
                <div class="media-content">
                  <p class="title is-4"><%=plant.name%></p>
                  <p class="subtitle is-6"><%=plant.origin%></p>
                  <img src="<%=plant.url%>">
                </div>
                <div class="content about-button">
                    <a href="<%=plant.link%>"  target="_blank"><button class="button about-button">ABOUT</button></a>
                  </div>
                </div>
      <% } %>
  </div>

  <button id="nextPage">NEXT ↦</button>
  <!-- <a href="/trefle/index-1"><button class="button-page2">NEXT ↦</button></a> -->

        </main>
        <!-- THE FOOTER TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>
